#center
  %form#repo-form
    %input#repo-input{:type=>'text', :name=>'repo-input', :placeholder=>'repo, eg: fijimunkii/diffogram'}
    %input#repo-submit{:type=>'submit', :value=>'watch'}

%code.prettyprint
  #terminal
